@page
@model CookbooksModel

<div class="text-center">
    <h1 class="display-4">@Model.RPUser.Username's cookbooks</h1>
    <a asp-page="../Cookbooks/Create" 
       asp-route-userId="@Model.RPUser.Id"
       class="btn btn-success">
        Add
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(c => c.UserCookbooks[0].Title)</th>
                <th>@Html.DisplayNameFor(c => c.UserCookbooks[0].User)</th>
                <th>@Html.DisplayNameFor(c => c.UserCookbooks[0].CreatedAt)</th>
                <th>Likes/Dislikes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cookbook in Model.UserCookbooks)
            {
                <tr>
                    <td>
                        <a asp-page="EditCookbook"
                           asp-route-id="@cookbook.Id"
                           class="btn btn-outline-warning">
                            Edit
                        </a>
                        <form method="post" 
                              asp-page-handler="DeleteCookbook"
                              asp-route-id="@cookbook.Id">
                            <button type="submit"
                                    class="btn btn-outline-danger">
                                Delete
                            </button>
                        </form>
                    </td>
                    <td><a asp-page="../Cookbooks/Index" asp-route-id="@cookbook.Id">@cookbook.Title</a></td>
                    <td>@cookbook.User.Username</td>
                    <td>@cookbook.CreatedAt.ToShortDateString()</td>
                    <td>@cookbook.Likes / @cookbook.Dislikes</td>
                </tr>
            }
        </tbody>
    </table>
</div>
