@page
@model RecipePal.Pages.Recipes.IndexModel

<h1 class="text-center">@Model.Recipe.Title</h1>

<a asp-page="Notes/Create"
   asp-route-recipeId="@Model.Recipe.Id"
   class="btn btn-success rounded-pill m-1">
    Add Note
</a>

<div class="card-columns">
    @foreach (var note in Model.Notes)
    {
    <div class="card text-white bg-dark">
        <div class="card-body">
            <h5 class="card-header">@note.Title</h5>
            <p class="card-text">@note.Text</p>
            <div class="btn-group" role="group">
                <a asp-page="Notes/Edit"
                    asp-route-id="@note.Id"
                    asp-page-handler="Edit"
                    class="btn btn-outline-warning rounded-pill m-1">
                Edit
                </a>
                <form asp-route-id="@note.Id"
                        asp-page-handler="DeleteNote"
                        method="post">
                    <button type="submit" class="btn btn-outline-danger rounded-pill m-1">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    }
</div>
