@page
@model RecipePal.Pages.Recipes.IndexModel

<h1 class="text-center">@Model.Recipe.Title</h1>

<a asp-page="Notes/Create"
   asp-route-recipeId="@Model.Recipe.Id"
   class="btn btn-success">
    Add Note
</a>

<div class="card-deck">
    @foreach (var note in Model.Notes)
    {
    <div class="col-sm-12 col-lg-4">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <h5 class="card-header">@note.Title</h5>
                <p class="card-text">@note.Text</p>
                <div class="row">
                    <div class="col">
                        <a asp-page="Notes/Edit"
                           asp-route-id="@note.Id"
                           asp-page-handler="Edit"
                           class="btn btn-outline-warning">Edit</a>
                    </div>
                    <div class="col">
                        <form asp-route-id="@note.Id"
                              asp-page-handler="DeleteNote"
                              method="post">
                            <button type="submit" class="btn btn-outline-danger">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>
